.title {
	font-size: 48px;
	color: blueviolet;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	text-align: center;
	font-weight: 700;
}

.subtitle {
	font-size: 28px;
	color: rgb(57, 6, 104);
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	text-align: center;
	font-weight: 600;
}
.lyrics {
	display: block;
	text-align: center;
}
